@inherits LayoutComponentBase

<div class="page">
   <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
       <AppBar></AppBar>
       @Body
</main>
</div>
